.form {
	@apply flex flex-col gap-5 w-full;
}

.landing {
	@apply gap-4;
}

.inputs {
	@apply flex flex-col gap-3 w-full;
}

.honeypot {
	@apply absolute opacity-0 pointer-events-none h-0 w-0 overflow-hidden;
	position: absolute;
	left: -9999px;
}

.landingTitle {
	@apply m-0 text-[20px] leading-[24px] font-semibold text-black;
	font-family: 'Instrument_Sans', sans-serif;
}

.error {
	@apply text-red-500 text-sm text-center m-0;
}

.submit {
	@apply w-full;
}

.success {
	@apply flex flex-col items-center gap-6 w-full animate-fade text-center;
}

.landingSuccess {
	@apply py-6;
}

.successTitle {
	@apply font-semibold text-2xl text-black m-0;
}

.successIcon {
	@apply bg-primary rounded-full w-[120px] h-[120px] flex items-center justify-center text-black;
}

.successEmail {
	@apply font-medium text-base m-0;
}

.successHint {
	@apply text-base text-black/70 m-0;
}
