.page {
	@apply flex flex-col gap-[32px] min-h-[calc(100vh-90px)] h-full py-16;

	& .content {
		@apply grid grid-cols-[52px,1fr] items-start gap-8 w-full h-full;

		& .back {
			text-decoration: none;
			@apply bg-white w-[52px] h-[52px] rounded-full 
			flex items-center justify-center cursor-pointer 
			!text-black shadow-md mt-6 transition-colors
			hover-hover:hover:bg-gray-100 hover-none:active:bg-gray-100;
			border: none;
		}
	}
}
