/node_modules/
/.vscode/
Dockerfile

src/types/generated/*

node_modules
bin
config
docker
docs
migrations
nginx
public
scripts
src
templates
var
vendor

assets/controllers
assets/services
assets/styles
assets/app.js
assets/order_offer_handler.js
assets/stimulus_bootstrap.js