{#
# SIA SLYFOX Confidential
#
# Copyright (C) 2026 SIA SLYFOX.
# All Rights Reserved.
#
# NOTICE:  All information contained herein is, and remains
# the property of SIA SLYFOX, its suppliers and Customers,
# if any.  The intellectual and technical concepts contained
# herein are proprietary to SIA SLYFOX
# its Suppliers and Customers are protected by trade secret or copyright law.
#
# Dissemination of this information or reproduction of this material
# is strictly forbidden unless prior written permission is obtained.
#
# @author Pavel Ustimenko steve.jsfolio@gmail.com
#}

{% extends 'public/main_layout.html.twig' %}

{% block header %}
    <div data-react-island="Header"></div>
{% endblock %}

{% block info %}{% endblock %}

{% block body %}
    <div data-react-island="LoginPage"></div>
{% endblock %}
