{#
# SIA SLYFOX Confidential
#
# Copyright (C) 2026 SIA SLYFOX.
# All Rights Reserved.
#
# NOTICE:  All information contained herein is, and remains
# the property of SIA SLYFOX, its suppliers and Customers,
# if any.  The intellectual and technical concepts contained
# herein are proprietary to SIA SLYFOX
# its Suppliers and Customers are protected by trade secret or copyright law.
#
# Dissemination of this information or reproduction of this material
# is strictly forbidden unless prior written permission is obtained.
#
# @author Pavel Ustimenko steve.jsfolio@gmail.com
#}

{% extends 'public/main_layout.html.twig' %}

{% block body %}
    {{ dump(orders) }}
    <div
        data-react-island="OrdersPage"
        data-props='{{ {
        orders: [
            {
                id: "00001",
                comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eaque.",
                item: "2 pc",
                address: { from: "Riga", to: "Ventspils" },
                pickupDate: "04 Sep 2025",
                type: "DSV",
                price: "€200.00",
                status: "awaiting",
            },
            {
                id: "00002",
                comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eaque.",
                item: "2 pc",
                address: { from: "Ventspils", to: "Riga" },
                pickupDate: "04 Sep 2025",
                type: "DSV",
                price: "€200.00",
                status: "inTransit",
            },
            {
                id: "00003",
                comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, eaque.",
                item: "2 pc",
                address: { from: "Ventspils", to: "Riga" },
                pickupDate: "04 Sep 2025",
                type: "DSV",
                price: "€1200.00",
                status: "delivered",
            },
        ],
        }|json_encode|e("html_attr") }}'
    ></div>
{% endblock %}
