.wrapper {
	@apply h-[90px] w-full bg-white px-10;

	& .header {
		@apply grid grid-cols-[auto,1fr,auto] gap-3 items-center w-full h-full;

		&.mobile {
			@apply grid-cols-1;

			& .left {
				@apply justify-center w-full;

				& .logo {
					@apply scale-150;
				}
			}
		}

		& .logo {
			@apply cursor-pointer;
		}

		& .left,
		& .right {
			@apply flex items-center w-[200px];
		}

		& .left {
			@apply justify-start;
		}

		& .right {
			@apply justify-end;

			& .profileWrapper {
				border: 6px solid transparent;
				@apply rounded-full;

				& .profile {
					@apply flex items-center gap-4 cursor-pointer 
					p-1 pr-8 rounded-full bg-white;

					& .avatar {
						@apply min-w-11 min-h-11 h-full aspect-square rounded-full bg-primary 
						flex items-center justify-center text-xl uppercase;
					}

					& .name {
						@apply text-sm font-bold text-[#404040];
					}

					& .company {
						@apply text-xs text-[#404040];
					}
				}

				&.active {
					border: 6px solid #f2f2f2;

					& .profile {
						@apply shadow-md;
					}
				}
			}

			& .link {
				@apply font-medium text-base text-black !important;
				text-decoration: none;
			}
		}

		& .center {
			@apply flex justify-center items-center;
		}
	}
}

.popover {
	@apply w-min h-fit p-3 bg-white rounded-3xl shadow-2xl;

	& .link {
		@apply flex items-center gap-3 text-base text-black !important;
		@apply px-5 py-3 rounded-full bg-white transition-colors cursor-pointer
		hover-hover:hover:bg-primary hover-none:active:bg-primary;
		text-decoration: none;

		& .iconWrapper {
			@apply w-6 h-6 flex items-center justify-center;

			& .icon {
				@apply block text-black/35 translate-y-[3px];
			}
		}
	}
}
