.info {
	@apply fixed bottom-7 right-7 bg-black text-white font-medium text-xl flex justify-center items-center rounded-full w-12 h-12 cursor-pointer;
	z-index: 100;
}

.infoPopover {
	@apply relative top-[68px] right-[6px] flex gap-6 rounded-3xl;

	& .img {
		@apply w-[150px] h-full rounded-xl overflow-hidden flex items-end justify-center;
		background-color: #858585;
		background:
			url('./user.png') no-repeat center bottom,
			linear-gradient(0deg, rgba(133, 133, 133, 1) 0%, rgba(194, 192, 192, 1) 100%);
	}

	& .content {
		@apply flex flex-col gap-4;

		& .title {
			@apply text-xl font-bold text-black;
		}

		& .link {
			@apply block text-base text-black !important;
		}
	}
}

/*  */
/*  */

.orders {
	@apply fixed bottom-7 right-[90px] px-4 py-3 bg-black text-white font-medium text-base flex justify-center items-center gap-2 rounded-full cursor-pointer animate-fade;
	z-index: 100;

	& > span {
		@apply w-3 h-3 rounded-full bg-primary;
	}
}

.ordersPopover {
	@apply p-0 m-0 overflow-visible rounded-3xl right-[32px] relative;

	& .leftBtn,
	& .rightBtn {
		@apply absolute w-[50%] h-[80%] top-[50%] rounded-[20px] 
		bg-stone-600 transition-colors cursor-pointer
		hover-hover:hover:bg-stone-700 hover-none:active:bg-stone-700;
		z-index: -1;
	}
	& .leftBtn {
		@apply -left-4 -translate-y-[50%];
	}
	& .rightBtn {
		@apply -right-4 -translate-y-[50%];
	}

	& > .content {
		@apply h-full w-full flex flex-col justify-between p-5 rounded-3xl bg-black  border-none;

		& .header {
			@apply grid grid-cols-2 gap-2 animate-fade;

			& .leftBlock {
				@apply flex items-start justify-center w-full h-full;

				& .circle {
					@apply flex flex-col items-center justify-center 
					w-full aspect-square rounded-full !important;
					border: 4px solid #d7ff01 !important;
				}

				& .check {
				}
			}

			& .rightBlock {
				@apply flex flex-col gap-3;

				& .wrapper {
					@apply flex flex-col gap-1 items-end;
					& .title {
						@apply text-base font-medium text-white;
					}
					& .subtitle {
						@apply text-base font-normal text-white/70;
					}
				}

				& .link {
					text-decoration: none;
					@apply px-3 py-2 rounded-full bg-primary !text-black font-normal text-xs;
					&:hover {
						@apply bg-primary/90;
					}
				}
			}
		}

		& .footer {
			@apply flex items-center justify-center gap-2 overflow-auto;

			& > span {
				@apply shrink-0 w-2 h-2 rounded-full bg-white/80 transition-colors cursor-pointer;
			}
		}
	}
}
