.wrapper {
	@apply flex items-center justify-center shrink-0;

	& .icon {
		@apply w-auto flex items-center justify-center;

		& svg {
			height: 100%;
			width: auto;
			aspect-ratio: 1;
		}

		&.currentColor {
			& svg *[fill] {
				fill: currentColor;
			}
			& svg *[stroke] {
				stroke: currentColor;
			}
		}
	}
}
