.button {
	border-style: solid;

	@apply px-[26px] py-[10px] rounded-full border-2 transition-colors font-medium !cursor-pointer;

	&:not(:disabled) {
		@apply text-white bg-black border-black 
		hover-hover:hover:text-black hover-none:active:text-black
		hover-hover:hover:bg-primary hover-none:active:bg-primary
		hover-hover:hover:border-primary hover-none:active:border-primary;
	}

	&.outline {
		@apply bg-white;

		&:not(:disabled) {
			@apply text-black bg-white 
			hover-hover:hover:text-black hover-none:active:text-black
			hover-hover:hover:bg-white hover-none:active:bg-white
			hover-hover:hover:border-primary hover-none:active:border-primary;
		}
	}

	&.transparent {
		@apply bg-transparent !border-transparent;

		&:not(:disabled) {
			@apply text-black/50 bg-transparent
			hover-hover:hover:text-black hover-none:active:text-black
			hover-hover:hover:bg-slate-100 hover-none:active:bg-slate-100
			hover-hover:hover:border-slate-100 hover-none:active:border-slate-100;
		}
	}

	&[disabled] {
		@apply cursor-not-allowed bg-black/20 text-white border-transparent;

		&.outline {
			@apply bg-white text-black/20 border-black/20;
		}
	}
}
