.container {
	width: 64px;
	height: 32px;
	position: relative;
	@apply scale-75 cursor-pointer;

	&.disabled {
		@apply cursor-default pointer-events-none;
	}
}

.checkbox {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
}

.switch {
	width: 100%;
	height: 100%;
	display: block;
	background-color: #cfcfcf;
	border-radius: 16px;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

/* The slider */
.slider {
	width: 27px;
	height: 27px;
	position: absolute;
	left: calc(50% - 38px / 2 - 10px);
	top: calc(50% - 27px / 2);
	border-radius: 50%;
	background: #ffffff;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.checkbox:checked + .switch {
	background-color: #000000;
}

.checkbox:checked + .switch .slider {
	left: calc(50% - 38px / 2 + 21px);
	top: calc(50% - 27px / 2);
}

.label {
	@apply font-medium text-base cursor-pointer select-none;

	&.disabled {
		@apply cursor-not-allowed text-gray-500;
	}
}
