.wrapper {
	@apply flex flex-col gap-2;

	/** Chrome*/
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		input[type='range'] {
			overflow: hidden;
			-webkit-appearance: none;

			background: #ffffff;
			background: linear-gradient(
				0deg,
				rgba(255, 255, 255, 1) 40%,
				rgba(0, 0, 0, 1) 40%,
				rgba(0, 0, 0, 1) 60%,
				rgba(255, 255, 255, 1) 60%
			);
		}

		input[type='range']::-webkit-slider-runnable-track {
			-webkit-appearance: none;
			color: #13bba4;
		}

		input[type='range']::-webkit-slider-thumb {
			width: 16px;
			-webkit-appearance: none;
			height: 16px;
			cursor: ew-resize;
			border-radius: 16px;
			background: white;
			border: 3px solid black;
		}
	}

	/** FF*/
	& input[type='range']::-moz-range-progress {
		background: white;
		border: 3px solid black;
	}
	& input[type='range']::-moz-range-track {
		background: #ffffff;
		background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 1) 40%,
			rgba(0, 0, 0, 1) 40%,
			rgba(0, 0, 0, 1) 60%,
			rgba(255, 255, 255, 1) 60%
		);
	}
	/** IE*/
	& input[type='range']::-ms-fill-lower {
		background: white;
		border: 3px solid black;
	}
	& input[type='range']::-ms-fill-upper {
		background: #ffffff;
		background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 1) 40%,
			rgba(0, 0, 0, 1) 40%,
			rgba(0, 0, 0, 1) 60%,
			rgba(255, 255, 255, 1) 60%
		);
	}

	& .label {
		@apply font-medium text-xs m-0;
	}

	& input {
		@apply cursor-pointer;
	}
}
