{#
# SIA SLYFOX Confidential
#
# Copyright (C) 2026 SIA SLYFOX.
# All Rights Reserved.
#
# Базовый layout публичной части приложения.
# Не содержит Sonata Admin / AdminLTE разметки.
# Webpack Encore подключает единый бандл 'app' (React + Stimulus + Tailwind).
#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'public_site.browser_title'|trans({}, 'AppBundle') }}{% endblock %}</title>
    <meta name="apple-mobile-web-app-title" content="{{ 'public_site.browser_title'|trans({}, 'AppBundle') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    {% set device = app.request.cookies.get('device') %}

    {% if device == 'mobile' %}
        {% include 'public/mobile_stub.html.twig' %}
    {% else %}
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block info %}{% endblock %}
    {% endif %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
