{% extends 'public/user_layout.html.twig' %}


{% block body %}
    <div 
        data-react-island="LoginPage"
        data-props='{{ { device }|json_encode|e("html_attr") }}'
    ></div>
{% endblock %}
