{% extends 'public/base.html.twig' %}

{% block header %}
    <div 
        data-react-island="Header"
        data-props='{{ { user }|json_encode|e("html_attr") }}'
    ></div>
{% endblock %}

{% block info %}
    {% set ongoing = portal_ongoing_orders_widget() %}
    <div 
        data-react-island="Info"
        style="z-index: 100;"
        data-props='{{ {
            orders: ongoing.orders,
            isCarrier: ongoing.isCarrier,
        }|json_encode|e("html_attr") }}'
    ></div>
{% endblock %}
