.card {
	@apply rounded-[30px] h-[580px] bg-white overflow-hidden
	grid grid-cols-2 gap-14 p-7 pl-9 relative;
	z-index: 1;
	box-shadow: 0px 6px 54px 0px rgba(0, 0, 0, 0.0288);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);

	&.isCarrier {
		@apply h-[652px] !important;
	}

	& .left {
		@apply flex flex-col gap-3 h-full overflow-auto;

		& .titleWrapper {
			@apply flex items-center gap-10;

			& .title {
				@apply font-semibold text-3xl text-black m-0;
			}

			& .id {
				@apply flex flex-col gap-0 text-black/50 font-medium text-xs;

				& span {
					@apply text-black text-base;
				}
			}
		}

		& .items {
			@apply flex flex-col gap-4;

			/* @apply h-full overflow-auto; */

			& .itemsWrapper {
				@apply flex flex-col gap-4;

				& .label {
					@apply text-black/40 text-xs;
				}

				& .itemsContent {
					@apply flex flex-col gap-2 w-full overflow-hidden;

					& .cargo {
						@apply grid grid-cols-[20px,1fr,60px,130px,60px] gap-3 w-full;
						& .index {
							@apply text-xs font-medium flex items-center;
						}
					}
					& .document {
						@apply grid grid-cols-[20px,1fr,30px] gap-3 w-full items-center;

						& .fileDownload {
							border: none;

							@apply flex items-center justify-center bg-transparent
							text-black w-7 h-7 cursor-pointer rounded-full transition-colors
							hover-hover:hover:bg-gray-100;
						}
					}
				}
			}
		}

		& .row {
			@apply grid grid-cols-3 gap-4 items-center;
		}

		& .routeItem {
			@apply grid grid-cols-[20px,1fr] gap-5 w-full;

			& .routeWrapper {
				@apply flex justify-center mt-7;

				& .route {
					@apply h-[calc(100%-68px)] w-[3px] bg-black relative;

					&.delivered {
						@apply h-[calc(100%-8px)];
					}

					&:before,
					&:after {
						content: '';
						@apply absolute h-4 w-4 bg-white rounded-full
						left-0 -translate-x-[6.5px];
						border: 3px solid black;
						box-sizing: border-box !important;
					}

					&:before {
						@apply -top-1;
					}

					&:after {
						@apply -bottom-1;
					}
				}
			}
		}

		& .hr {
			@apply w-full h-[1px] bg-[#CCCCCC] shrink-0;
		}

		& .item {
			@apply flex flex-col gap-1;

			& .label {
				@apply text-black/40 text-xs;
			}

			& .value {
				@apply text-black text-base font-medium;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			& .comments {
				/* @apply h-[100px] overflow-y-auto; */
			}

			& .additionals {
				@apply flex items-center gap-11;

				& .additional {
					@apply flex items-center gap-2 text-base font-medium text-black;

					& .icon {
						@apply w-10 h-10 bg-primary rounded-full flex items-center justify-center text-black;
					}
				}
			}
		}
	}

	& .right {
		@apply h-full rounded-[14px] relative overflow-hidden bg-black/10;

		&.withStatus {
			@apply mr-[230px] !important;
		}

		& .id {
			@apply absolute top-3 right-3 bg-white rounded-2xl shadow-md
			flex flex-col px-8 py-3 z-10;

			& .label {
				@apply font-medium text-black/40 text-xs;
			}

			& .value {
				@apply text-black text-base font-medium;
			}
		}

		& .info {
			@apply absolute bottom-3 left-3 right-3 p-7 bg-white rounded-[30px] shadow-md z-10 flex flex-col gap-4;

			& .top {
				& .item {
					@apply flex flex-col gap-1;

					& .label {
						@apply text-black/40 text-xs;
					}

					& .value {
						@apply text-black text-base font-medium;
					}
				}
			}

			& .hr {
				@apply w-full h-[1px] bg-[#CCCCCC];
			}

			& .bottom {
				@apply grid grid-cols-2 gap-5;

				&.isOffered {
					@apply grid grid-cols-[170px,1fr] gap-6;

					& .bottomRight {
						@apply grid grid-cols-[1fr,2fr] gap-3;
					}
				}

				& .bottomLeft,
				& .bottomRight {
					@apply flex items-center gap-3;
				}

				& .bottomLeft {
					& .icon {
						@apply w-12 h-12 bg-primary rounded-full flex items-center justify-center text-black;
					}

					& .avatar {
						@apply w-12 h-12 rounded-full bg-primary
						flex items-center justify-center text-xl uppercase;
					}

					& .text {
						@apply flex flex-col gap-0;

						& .title {
							@apply text-black text-base font-medium;
						}

						& .subtitle {
							@apply text-black/40 text-xs;
						}
					}
				}
			}
		}
	}
}
