.page {
	@apply flex flex-col gap-[54px] min-h-[calc(100vh-90px)] h-full py-16;

	& .title {
		@apply font-bold text-3xl text-black m-0;

		& span {
			@apply font-normal;
		}
	}

	& .tableWrapper {
		@apply flex flex-col gap-5;

		& .header,
		& .items .item {
			@apply grid grid-cols-[100px,1fr,100px,150px,120px,80px,100px,240px] gap-8 px-8;
		}

		& .header {
			& span {
				@apply font-normal text-base text-black/50;
			}
		}

		& .items {
			@apply flex flex-col gap-6;

			& .item {
				@apply py-7;
				@apply bg-white rounded-full items-center;

				& span {
					@apply font-medium text-base text-black;
				}

				& .comment {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				& .status {
					@apply p-[6px] pl-4 rounded-full bg-[#C9C9C9] 
					grid grid-cols-[1fr,90px] gap-2;

					&.inTransit {
						@apply bg-primary text-black;

						& .text span {
							@apply text-black;
						}
					}

					& .text {
						@apply flex items-center gap-2 text-base w-full overflow-hidden;

						& span {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

							@apply w-full text-white font-medium;
						}

						& .dot {
							@apply w-3 h-3 rounded-full bg-black/20 shrink-0;
						}
					}

					& .link {
						text-decoration: none;
						@apply bg-white !text-black font-medium text-base 
						rounded-full shadow-md py-[6px] px-7 transition-colors
						hover-hover:hover:bg-slate-100 hover-none:active:bg-slate-100;

						/* @apply font-medium text-base text-black !important; */
					}
				}
			}
		}
	}
}
