.page {
	@apply flex flex-col min-h-[calc(100vh-91px)] h-full mx-auto w-full;
	max-width: 1440px;
	padding-top: 48px;
	padding-bottom: 64px;

	& .title {
		@apply m-0 font-semibold text-black;
		font-family: 'Instrument_Sans', sans-serif;
		font-size: 32px;
		line-height: 39.04px;
		padding-inline: 24px;

		@media (min-width: 1024px) {
			padding-inline: 105px;
		}

		& span {
			@apply font-semibold;
		}
	}
}

.emptyWrapper {
	@apply flex flex-1 items-center justify-center;
	padding-top: 48px;
	padding-bottom: 48px;
}

.tableWrapper {
	@apply flex flex-col gap-5 mt-8;

	& .header,
	& .items .item {
		@apply grid items-center gap-6;
		grid-template-columns:
			112px minmax(0, 1.2fr) 64px minmax(0, 1.4fr) 108px 72px 100px 240px;
		@apply max-lg:px-8;

		@media (min-width: 1024px) {
			padding-left: 72px;
			padding-right: 72px;
		}
	}

	& .header {
		& span {
			@apply font-normal text-base text-black/50 truncate whitespace-nowrap;
		}
	}

	& .items {
		@apply flex flex-col gap-3;

		& .item {
			@apply h-20 min-h-20 max-h-20 py-0 box-border overflow-hidden;
			@apply bg-white rounded-full;

			& .cell {
				@apply min-w-0 truncate whitespace-nowrap font-medium text-base text-black;
			}

			& .comment {
				&.empty {
					@apply text-black/30;
				}
			}

			& .status {
				@apply min-w-0 p-1 pl-2 rounded-full bg-black/10 text-black 
					grid grid-cols-[minmax(0,1fr),90px] gap-2 h-[72px] items-center;

				&.inTransit {
					@apply bg-primary;

					& .text span {
						@apply text-black;
					}
				}

				&.delivered {
					@apply bg-black/5;
				}

				& .text {
					@apply flex items-center gap-2 text-sm w-full overflow-hidden pl-1 min-w-0;

					& span {
						@apply truncate whitespace-nowrap min-w-0 text-black font-medium;
					}

					& .dot {
						@apply w-2.5 h-2.5 rounded-full bg-black/30 shrink-0;
						animation: pulse1 1.5s infinite ease-in-out;
					}
				}

				& .link {
					text-decoration: none;
					@apply flex h-full min-h-0 items-center justify-center self-stretch
						bg-white !text-black font-medium text-sm leading-none
						rounded-full shadow-md px-5 transition-colors shrink-0
						hover-hover:hover:bg-slate-100 hover-none:active:bg-slate-100;
				}
			}
		}
	}
}

@keyframes pulse1 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(1.1);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
