.page {
	@apply flex flex-col min-h-[calc(100vh-90px)] h-full py-16;

	&.sender {
		@apply gap-[88px];

		& .mainWrapper {
			@apply flex flex-col gap-11 justify-center;

			& .main {
				@apply flex flex-col justify-end gap-20 
				w-full h-[415px] px-16 py-14 rounded-[30px];

				background: #ebeaea;
				background:
					url('./bg.png') no-repeat calc(100% + 25px) -150px / contain,
					linear-gradient(180deg, rgba(235, 234, 234, 1) 0%, rgba(214, 214, 214, 1) 100%);

				& .title {
					& span {
						@apply block font-semibold text-3xl text-black m-0;
						&.light {
							@apply text-black/50;
						}
					}
				}

				& .inputButtons {
					@apply bg-white rounded-full p-[6px] overflow-hidden 
					grid grid-cols-[1fr,1fr,1fr,auto] gap-1;

					& .inputButton {
						&:not(:first-child) {
							&:before {
								content: '';
								@apply bg-black/50 h-[75%] w-[1px] absolute -left-0.5 top-[50%] -translate-y-[50%];
							}
						}
					}
				}
			}

			& .description {
				@apply flex items-center justify-center gap-16;

				& .item {
					@apply flex items-center gap-3 text-sm text-gray-400 font-medium;

					& .icon {
						@apply w-5 h-5 flex items-center justify-center;
					}
				}
			}
		}

		& .emptyOrders {
			@apply flex flex-col gap-9 px-16;

			& .title {
				@apply font-semibold text-3xl text-black m-0;
			}

			& .description {
				@apply flex items-center justify-between gap-4;

				& .item {
					@apply flex items-center gap-6;

					& .icon {
						@apply h-[60px] w-[60px] bg-primary rounded-full flex items-center justify-center text-black;
					}

					& .text {
						@apply font-medium text-base text-black/50 m-0 leading-4;

						& span {
							@apply block;
						}
					}
				}
			}
		}

		& .ordersWrapper {
			@apply flex flex-col gap-8;

			& .header {
				@apply flex items-center gap-5;

				& .item {
					@apply flex items-center gap-3 font-medium text-base text-black;

					& .icon {
						@apply w-10 h-10 flex items-center justify-center bg-primary rounded-full text-black;
					}
				}
			}

			& .orders {
				@apply grid grid-cols-1 gap-y-1;

				& .order {
					@apply w-full bg-white rounded-full py-4 px-7 
					font-normal text-xs text-black/80
					grid grid-cols-[2fr,1fr,2fr,100px] gap-2 items-center overflow-hidden;

					& .name {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					& .button {
						@apply rounded-full py-2 px-6 cursor-pointer
						bg-[#F9F9F9] text-[10px] font-medium text-[#404040] transition-colors 
						hover-hover:hover:bg-gray-200 hover-none:active:bg-slate-200;
						border: none;
						outline: none;
					}
				}
			}
		}
	}

	&.carrier {
		@apply gap-[78px];

		& .main {
			@apply flex flex-col gap-[30px];

			& .title {
				@apply font-semibold text-3xl text-black m-0;

				& span {
					@apply font-normal;
				}
			}

			& .empty {
				@apply flex flex-col items-center justify-center gap-14;

				& .icon {
					@apply text-black translate-y-10;
				}

				& .text {
					@apply flex flex-col items-center gap-6;

					& .title {
						@apply font-medium text-2xl text-black m-0;
					}

					& .subtitle {
						@apply text-base text-[#616161] m-0;
					}
				}

				& .link {
					text-decoration: none;

					@apply px-[30px] py-4 rounded-full bg-black 
				!text-white font-medium text-base transition-colors;
					&:hover {
						@apply bg-primary !text-black;
					}
				}
			}
		}

		& .footer {
			@apply flex items-center justify-center gap-16;

			& .item {
				@apply flex items-center gap-3 text-black/40 text-sm font-medium;
			}
		}
	}
}
